.vagrant
.project
.settings
.idea
.vs
.vscode
*.bak
*.log
*.sln
*.suo
*.csproj
*.njsproj
playbook.retry
vendor
node_modules
!.gitkeep
/game_svr/public/hot
/game_svr/public/storage
/game_svr/public/swagger
/game_svr/public/api-docs.json
/game_svr/storage/*.key
Homestead.json
Homestead.yaml
.env
