.vagrant
.project
.settings
.idea
.vs
.vscode
*.bak
*.log
*.sln
*.suo
*.csproj
*.njsproj
playbook.retry
vendor
node_modules
!.gitkeep
/server/public/hot
/server/public/storage
/server/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
.env
