<VirtualHost _default_:80>
	DocumentRoot /vagrant/game_svr/public

	<filesMatch "\.(js|html|css|php)$">
		SetOutputFilter DEFLATE
	</filesMatch>

	<Directory /vagrant/game_svr/public>
		AllowOverride All
		Require all granted
	</Directory>
</VirtualHost>
